@import "tailwindcss";

@theme {
  --color-brand-primary: #111111;
  --color-brand-accent: #FFCC00;
  --color-brand-grey: #f4f4f4;
}

body, html { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  overflow: hidden; 
}

#root { 
  height: 100%; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999;
}
